.perfume-body{
    display: flex;
    flex-direction: column;
    background-color: #c9bd90;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}


.header, .footer{
    background-color: rgb(203, 153, 88);
    width: 100%;
    flex-shrink: 0;
}
.header{

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 700px;
    margin: 0;
    padding: 0;
}
.title{
    
}
.footer{
     
    display: flex;
    justify-content: space-around;
    gap: 1500px;
    align-items: center;
    bottom: 0;
    height: 10vh;
    text-align: center;
}

.middle-section{
    display: flex;
    flex: 1;
}
.filter {
    border-right: 2px solid #383012;
    border-bottom: solid 2px rgb(59, 34, 8);
    border-top: solid 2px rgb(59, 34, 8);

}

.perfume-filter-list{
    list-style: none;
    padding: 20px;
}
.perfume-filter-list li{
    list-style: none;
    margin-top: 50px;
    padding: 20px;
    font-size: 30px;
    border : 2px solid rgb(66, 38, 11);
    border-radius: 10px;
    text-align: center;
}
.order-by{
    padding: 20px;
    font-size: 30px;
}
.perfume-panel{
    border: 2px solid rgb(59, 34, 8);
    border-radius: 10px;
    margin: 15px;
    flex-grow: 0;
    width: 300px; /* Set a fixed width */
    height: 400px; /* Set a fixed height */
    display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
}
.perfume-name{
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
}
.perfume-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: solid 2px rgb(59, 34, 8);
}
.motto{
    text-align: center;
    font-size: 150px;
    padding: 200px;
    background-color: #a86b25;
    font-family: madina;
}
@font-face {
    font-family: madina;
    src: url("./fonts/madina/Madina.ttf") format(truetype);
}

